@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --foreground-color: #000; /* Default foreground color (black) */
    --background-color: #d6dbdc; /* Default background color (light gray) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff; /* Foreground color for dark mode (white) */
    --background-color: #000; /* Background color for dark mode (black) */
  }
}

body {
  color: var(--foreground-color); /* Use the foreground color variable */
  background-color: var(--background-color); /* Use the background color variable */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
